/* docs/stylesheets/extra.css */
/* Titre de niveau 1 (#) */
.md-typeset h1 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-align: center;
}

/* Titre de niveau 2 (##) */
.md-typeset h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

/* Titre de niveau 3 (###) */
.md-typeset h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.md-grid {
  max-width: 1440px;
}

.md-typeset p {
  text-align: justify;
}

.profil-photo {
  float: right;
  width: 400px;         /* adapte la taille selon ton besoin */
  height: auto;
  margin-left: 30px;   /* espace entre la photo et le texte */
  /* border-radius: 50%;   /* optionnel : effet "photo de profil ronde" */
}
